InvestmentsWinForm/Connected Services/OptimizationService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35014/OptimizationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35014/OptimizationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35014/OptimizationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOptimizationService_DoSimplex_InputMessage">
    <wsdl:part name="parameters" element="tns:DoSimplex" />
  </wsdl:message>
  <wsdl:message name="IOptimizationService_DoSimplex_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoSimplexResponse" />
  </wsdl:message>
  <wsdl:message name="IOptimizationService_DoBionic_InputMessage">
    <wsdl:part name="parameters" element="tns:DoBionic" />
  </wsdl:message>
  <wsdl:message name="IOptimizationService_DoBionic_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoBionicResponse" />
  </wsdl:message>
  <wsdl:portType name="IOptimizationService">
    <wsdl:operation name="DoSimplex">
      <wsdl:input wsaw:Action="http://tempuri.org/IOptimizationService/DoSimplex" message="tns:IOptimizationService_DoSimplex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOptimizationService/DoSimplexResponse" message="tns:IOptimizationService_DoSimplex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoBionic">
      <wsdl:input wsaw:Action="http://tempuri.org/IOptimizationService/DoBionic" message="tns:IOptimizationService_DoBionic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOptimizationService/DoBionicResponse" message="tns:IOptimizationService_DoBionic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOptimizationService" type="tns:IOptimizationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoSimplex">
      <soap:operation soapAction="http://tempuri.org/IOptimizationService/DoSimplex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoBionic">
      <soap:operation soapAction="http://tempuri.org/IOptimizationService/DoBionic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IOptimizationService" binding="tns:BasicHttpBinding_IOptimizationService">
      <soap:address location="http://localhost:35014/OptimizationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>